-- Add category_id column to products table
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS category_id UUID REFERENCES categories(id);

-- Update existing products to have a default category if needed
UPDATE products 
SET category_id = (SELECT id FROM categories LIMIT 1) 
WHERE category_id IS NULL;

-- Make sure the column is properly indexed
CREATE INDEX IF NOT EXISTS idx_products_category_id ON products(category_id);

-- Check current products table schema
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'products' 
ORDER BY ordinal_position;

-- Add cost_price column if it doesn't exist (to match what the API expects)
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS cost_price DECIMAL(10,2) DEFAULT 0;

-- Rename cost column to cost_price if it exists, or add it
DO $$
BEGIN
    -- Check if 'cost' column exists
    IF EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'products' AND column_name = 'cost') THEN
        -- Rename cost to cost_price
        ALTER TABLE products RENAME COLUMN cost TO cost_price;
    ELSE
        -- Add cost_price column if it doesn't exist
        ALTER TABLE products ADD COLUMN IF NOT EXISTS cost_price DECIMAL(10,2) DEFAULT 0;
    END IF;
END $$;

-- Add dimensions column if it doesn't exist
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS dimensions JSONB DEFAULT '{"length": 0, "width": 0, "height": 0}'::jsonb;

-- Add is_active column if it doesn't exist
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT true;

-- Add other potentially missing columns
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS is_featured BOOLEAN DEFAULT false;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS sort_order INTEGER DEFAULT 0;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS low_stock_threshold INTEGER DEFAULT 0;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS compare_price DECIMAL(10,2) DEFAULT 0;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS short_description TEXT;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS seo_title TEXT;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS seo_description TEXT;

ALTER TABLE products 
ADD COLUMN IF NOT EXISTS seo_keywords TEXT[];

-- Add user_id column if it doesn't exist (for the seller relationship)
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES users(id);

-- Add images column if it doesn't exist (for product images)
ALTER TABLE products 
ADD COLUMN IF NOT EXISTS images TEXT[];

-- Verify all the columns were added
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'products' 
ORDER BY column_name;
